.cartPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.cartContainer {
  padding: 0 20%;
  margin-top: 100px;
  display: grid;
}

.quantity {
  font-size: 18px;
  margin: 15px 0;
}

.cart {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  background-color: rgb(27, 27, 27);
  padding: 45px 35px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  line-height: 1.8;
  position: relative;
}

.trashIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.cartContainer img {
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -10px;
  border-radius: 59%;
}

.cartItem {
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
  width: 100%;
  margin: auto;
  padding: 40px;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.removeBtn {
  position: absolute;
  border: none;
  padding: 3px 3px;
  border-radius: 5px;
  color: rgb(240, 79, 79);
  background-color: transparent;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.desc {
  font-size: 14px;
}

.courseTitle {
  font-size: 15px;
}

.cartHeader {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pageTitle {
  font-weight: 100;
  font-size: 60px;
  color: var(--link-color);
  margin: 50px 0;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
}

.logo {
  font-size: 90px;
  color: var(--link-color);
}

.infobox {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.price {
  padding: 5px 15px;
  background-color: rgb(20, 101, 141);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed {
  padding: 5px 15px;
  background-color: rgb(20, 74, 141);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.students {
  padding: 5px 15px;
  background-color: rgb(49, 68, 95);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartFinalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 130px;
  padding: 30px;
}

.cartFinalContainer h4 {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--link-color);
}

.cartFinalButtons {
  margin: 40px 0;
}

.goBackButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 0 3px;
  background-color: var(--primary-blue);
  color: #fefefe;
  cursor: pointer;
}

.homePageButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 0 3px;
  background-color: rgb(19, 157, 106);
  color: #fefefe;
  cursor: pointer;
}

.cartFinalHidden {
  display: none;
}

@media screen and (max-width: 602px) {
  .cartPageContainer {
    width: 100%;
    padding: 0 10px;
  }
}
